html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: aliceblue; /* Default text color */
}

/* Shared background styles */
.home-screens {
  background-image: url('./assets/images/Logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.food-app {
  background-image: url('./assets/images/food_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wellness-app {
  background-image: url('./assets/images/wellness_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.habits-app {
  background-image: url('./assets/images/habit_image_DB.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
